.recipe-container {
  margin: 15vh 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipeList {
  /* width: 45%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px 15px;
  box-sizing: border-box;
}

.recipeList img {
  height: 250px;
  width: 350px;
}

.recipe-info {
  text-align: center;
}

.addRecipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  padding: 25px 30px;
}

.addRecipe label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 35px;
  margin-bottom: 20px;

}

.addRecipe input{
  border: transparent ;
  border-bottom: 1px solid gray ;
}